*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F7F7F7;
}
.FIRST_ITEM{
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    padding-left: 125px;
    display: flex;
    align-items: center;
    
    box-shadow: 0px 3px 30px #7B7B7B29;
 }
 .add_item{
     position: absolute;
    right: 275px;
    display: inline;
    top: 112px;
     
     
 }

 .add_item a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;

 }

 
.box span{
    text-decoration: none;
}
 i{
    font-size: 35px;
    
 }
 span{
    color: #424242;
    font: normal normal normal 22px/26px Inter;
    text-decoration: none;
 }

.one{
    color: #00A5EC ;
    font-size: 30px;
    font-weight: 800;
}  
input[type=checkbox]{
    height: 20px;
    width: 20px;
}
.line{
    text-decoration: line-through;
    color: #C2C2C2;
    
}
.mainparent{
    display: flex;
    justify-content: center;
}

.parent{
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 90px;
    
    padding: 30px 0px 30px 125px;
    
    
   

    
   
    
}

.child{
    border: 1px solid #67676729;
    width: 352px;
    height: 360px;
   
    border-radius: 5px;
    opacity: 1;
    background-color: #FFFFFF;
    line-height: 45px;
   
    
}
h2{
    color: #00A5EC;
    font-weight: medium;
    font-family: inherit;
    font-size: 20px;
    padding-left: 15px;
    
}
.child.large{
    width: 60px;
    height: 60px;
}
.paris{
    text-decoration: none;
    color: #00A5EC;
}
@media screen and (max-width:500px){
    /* .parent{
        flex-direction: column;
    } */
    .FIRST_ITEM {
        width: 100%;
        height: 70px;
        background-color: #FFFFFF;
        padding-left: 16px;
        display: flex;
        align-items: center;
        box-shadow: 0px 3px 30px #7B7B7B29;
    }
    .parent {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        margin-top: 88px;
        margin-left: -47px;
        /* padding: 30px 0px 30px 125px; */
    }
    .child {
        border: 1px solid #67676729;
        width: 352px;
        height: 360px;
        border-radius: 5px;
        opacity: 1;
        background-color: #FFFFFF;
        line-height: 45px;
        margin-left: -88px;
    }
    .Text-none{
        display: none;
    }
    .add_item{
        
        right: 145px;
        
        
    
       
     }
}

